{% extends "base.html" %}
{% load static %}
{% block title %} <title>Об авторе проекта</title> {% endblock %}
{% block content %}
    <div class="row mx-auto">
        <div class="col-md-6">
            <h1>Привет, я Сергей</h1>
            <p>
                Тут я не размещу информацию о себе, используя свои умения 
                верстать. Потому что умений на данный момент нет. Картинки, 
                блоки, элементы бустрап - пока для меня темный лес. По этому 
                просто напишу несколько абзацев текста. Если быть точным - 1 
                абзац. - Почему всего один?, спросите вы, и я вам отвечу: 
                Потому что я по 8 часов в день учусть в ЯндексПрактикум, и 
                времени писать много абзацев у меня нет. Такие дела...
            </p>
        </div>
        <br>
        <div class="col-md-6">
            <img src="{% static 'img/author.jpg' %}" alt="Фото автора" 
            style="max-width: 100%; height: auto;">
        </div>
    </div>
{% endblock %}